doctype html
html
  head
    title Lobby
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    style.

      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }

      div#window { position: absolute; height: 100%; width: 100%; top: 0px; bottom: 0px; left: 0px; right: 0px; }
      div#sessions { position: absolute; height: 160px; top: 0px; left: 0px; right: 0px; overflow-x: auto; background-color: #cccccc; }
      div#chatcontainer { position: absolute; width: 100%; top: 160px; bottom: 0px; left: 0px; right: 0px; }
      div#userlist { position: absolute; top: 0px; bottom: 0px; left: 0px; width: 250px; overflow-y: auto; }
      div#chatcontainer2 { position: absolute; top: 0px; bottom: 0px; left: 250px; right: 0px; }
      div#chatmessages { position: absolute; top: 0px; bottom: 40px; left: 0px; right: 0px; overflow-y: scroll; }
      div#chatinput { position: absolute; height: 40px; bottom: 0px; left: 0px; right: 0px; background-color: #444444; }

      form { position: absolute; height: 40px; bottom: 0px; left: 0px; right: 0px; padding: 3px; }
      form input { position: absolute; width: 90%; left: 0px; right: 0px; border: 0; padding: 10px; margin-left: 3px; }
      form button { position: absolute; right: 0px; width: 10%; border: none; padding: 10px; margin-right: 3px; background: #cccccc; }

      #users { list-style-type: none; margin: 0; padding: 0; background: #dddddd; }
      #users li { padding: 10px 20px; }
      li.header { font-weight: bold; background: #aaaaaa; }

      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(even) { background: #eeeeee; }
      li.system { font-style: italic; }

  body
    div#window
      div#sessions
        p game sessions
      div#chatcontainer
        div#userlist
          ul#users
            li.header Users
        div#chatcontainer2
          div#chatmessages
            ul#messages
              li
                b
                  font(color='#ff6600')
                    blah blah blah
              li
                b
                  font(color='#0099cc')
                    blah blah blah
              li
                b
                  font(color='#000044')
                    blah blah blah
          div#chatinput
            form(action='')
              input#m(autocomplete='off')
              button Send

    script.
      var client_io = io('/lobby');
      var username = '#{user.username}';

      client_io.emit('user_join', {userid: '#{user.id}', username: '#{user.username}'});

      $('form').submit(function(){
        // FIXME don't send empty string
        client_io.emit('chat_message', { userid: '#{user.id}',
                                         username: username,
                                         msg: $('#m').val()});
        $('#m').val('');
        return false;
      });

      client_io.on('chat_message', function(data){
        $('#messages').append('<li class=m_' + data.userid + '><b>' + data.username + '</b>: ' + data.msg + '</li>');
      });

      client_io.on('sys_message', function(msg){
        $('#messages').append('<li class=system>' + msg + '</li>');
      });

      client_io.on('user_join', function(data){
        $('#users').append('<li id=u_' + data.username + '>' + data.username + '</li>');
        $('html > head').append('<style>#u_' + data.username + ' { color: ' + data.color + '; }</style>');
        $('html > head').append('<style>.m_' + data.userid + ' { color: ' + data.color + '; }</style>');
      });

      client_io.on('user_exit', function(data){
        $('#u_' + data.username).remove();
      });

      client_io.on('user_init', function(data){
        username = data.username;
      });
